<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="invoicesDB" connectionString="data source=JVARGAS\SQL2014;initial catalog=DemoOrm;persist security info=True;user id=sa;password=sql;application name=DemoOrm;context connection=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>